<div class="post">
  <img class="burger_pic" src="<%= @post.image_url %>" >
  <p><%= link_to "@#{@user.username}", user_path(@user) %></p>
  <p><%= @post.caption %></p>
</div>
<p>
  <a class="back">
    <%= link_to "Back to all posts", "/" %>
  </a>
  <a class="delete">
    <%= link_to "Delete", user_post_path,
        method: :delete,
        data: { confirm: "Are you sure you want to delete this post?" } %>
  </a>
</p>
